openapi: 3.1.0
info:
  title: Lasso API
  description: AI-powered product data extraction and enhancement API
  version: 1.0.0
  contact:
    name: Lasso Support
    url: https://lasso.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://app.productlasso.com/api/v1
    description: Production
security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
    SearchParam:
      name: search
      in: query
      schema:
        type: string

    ProductAnalyticsFromParam:
      name: from
      in: query
      required: true
      description: Inclusive reporting-period start.
      schema:
        type: string
        format: date

    ProductAnalyticsToParam:
      name: to
      in: query
      required: true
      description: Inclusive reporting-period end. The range may contain at most 1,830 days.
      schema:
        type: string
        format: date

    ProductAnalyticsCatalogStatusParam:
      name: catalog_status
      in: query
      description: Current Catalog status to include. `all` means active and draft products.
      schema:
        type: string
        enum: [all, active, draft, archived]
        default: all

    ProductAnalyticsUserParam:
      name: user_id
      in: query
      description: Current or former user UUID, or `system` for unattributed automation.
      schema:
        type: string

    ProductAnalyticsSchemaParam:
      name: schema_id
      in: query
      description: Filters both Catalog products and Lasso extraction tables by schema.
      schema:
        type: string
        format: uuid

    ProductAnalyticsTableParam:
      name: table_id
      in: query
      description: Filters Lasso analytics to one extraction table.
      schema:
        type: string
        format: uuid

    ProductAnalyticsSourceParam:
      name: source
      in: query
      description: Catalog-only source filter. Requires `scope=catalog`.
      schema:
        type: string
        enum: [manual, product_extraction, shopify]

  schemas:
    Error:
      type: object
      required: [status_code, error_type, message, request_id]
      properties:
        status_code:
          type: integer
        error_type:
          type: string
          enum:
            - invalid_request
            - unauthenticated
            - forbidden
            - not_found
            - conflict
            - validation_error
            - rate_limited
            - service_unavailable
            - internal_error
        message:
          type: string
        request_id:
          type: string
        code:
          type: string
          description: Stable machine-readable detail code for validation, conflict, and retryable availability errors.
        retryable:
          type: boolean
          description: Whether the request can be retried without changing its payload.
        attribute_id:
          type: string
          format: uuid
          description: Stable Attribute identity when the error is scoped to one Attribute.
        attribute_key:
          type: string
          description: Attribute key when the error is scoped to one Attribute.
        details:
          type: object
          additionalProperties: true
        current_updated_at:
          type: string
          format: date-time
          description: Current resource revision supplied for client-directed refetch after a stale write.

    AttributeType:
      type: string
      enum: [text, number, url, email, date, boolean, richtext, format, enum, tags, image, images, file, files, json, relation]

    FormatOutputType:
      type: string
      enum: [text, number, boolean, json, richtext, file, image]
      description: The stored result type produced by a format Attribute. Format formulas execute only in Extraction; Catalog stores the resulting value.

    ImageConfig:
      type: object
      additionalProperties: false
      description: Canonical requirements shared by every usage of an image Attribute.
      properties:
        format:
          type: string
          enum: [original, webp, jpeg, png]
        required_aspect_ratio:
          type: string
          enum: [original, "1:1", "1:4", "1:8", "2:3", "3:2", "3:4", "4:1", "4:3", "4:5", "5:4", "8:1", "9:16", "16:9", "21:9"]
        required_background_color:
          type: string
          enum: [white, black]
          description: Omit to accept any background and preserve existing image behavior.
        max_size_mb:
          type: number
          minimum: 0
        min_width:
          type: number
          minimum: 0
        min_height:
          type: number
          minimum: 0
        max_width:
          type: number
          minimum: 0
        max_height:
          type: number
          minimum: 0

    NumberConfig:
      type: object
      additionalProperties: false
      description: Presentation metadata for number and Formula-number Attributes. Stored and API values remain numeric.
      properties:
        unit:
          type: string
          minLength: 1
          maxLength: 64
          description: Literal, untranslated unit.
        unit_position:
          type: string
          enum: [before, after]
          default: after
        format_style:
          type: string
          enum: [dot_plain, comma_plain, dot_with_comma_grouping, comma_with_dot_grouping, dot_with_space_grouping, comma_with_space_grouping]
        file_export:
          type: string
          enum: [raw, formatted_text]
          default: raw
          description: Applies to CSV/XLSX file exports, including files requested through export endpoints. JSON and non-file API or integration values remain raw.

    Attribute:
      type: object
      additionalProperties: false
      required: [id, key, label, type, format_output_type, enum_values, tags_values, allow_custom_values, boolean_config, number_config, relation_config, description, validation, language, image_config, status, archived_at, is_reviewed, source_id, external_id, source_synced_at, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
        label:
          type: string
        type:
          $ref: "#/components/schemas/AttributeType"
        format_output_type:
          oneOf:
            - $ref: "#/components/schemas/FormatOutputType"
            - type: "null"
          type: [string, "null"]
          description: Declared output type for format Attributes; null for all other Attribute types.
        enum_values:
          type: [array, "null"]
          items:
            type: string
        tags_values:
          type: [array, "null"]
          items:
            type: string
        allow_custom_values:
          type: boolean
          description: Whether table editors may append missing enum or tag choices.
        boolean_config:
          type: [object, "null"]
          additionalProperties: true
        number_config:
          oneOf:
            - $ref: "#/components/schemas/NumberConfig"
            - type: "null"
          type: [object, "null"]
          description: Present only as metadata; Attribute values returned by APIs remain raw numbers.
        relation_config:
          type: [object, "null"]
          additionalProperties: true
        description:
          type: [string, "null"]
        validation:
          type: [object, "null"]
          additionalProperties: true
        language:
          type: [string, "null"]
        image_config:
          oneOf:
            - $ref: "#/components/schemas/ImageConfig"
            - type: "null"
          type: [object, "null"]
        status:
          type: string
          enum: [active, archived]
          description: Derived from archive state. Archive and restore remain Dashboard-only.
        archived_at:
          type: [string, "null"]
          format: date-time
        is_reviewed:
          type: boolean
        source_id:
          type: [string, "null"]
          format: uuid
        external_id:
          type: [string, "null"]
        source_synced_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      examples:
        - id: 11111111-1111-4111-8111-111111111111
          key: product_name
          label: Product name
          type: text
          format_output_type: null
          enum_values: null
          tags_values: null
          allow_custom_values: true
          boolean_config: null
          number_config: null
          relation_config: null
          description: Public product title
          validation: null
          language: en
          image_config: null
          status: active
          archived_at: null
          is_reviewed: true
          source_id: null
          external_id: null
          source_synced_at: null
          created_at: "2026-07-01T00:00:00.000Z"
          updated_at: "2026-07-14T10:00:00.000Z"

    AttributeInput:
      type: object
      additionalProperties: false
      required: [key, label, type]
      properties:
        key:
          type: string
          pattern: "^[a-zA-Z0-9][a-zA-Z0-9_/]*$"
        label:
          type: string
        type:
          $ref: "#/components/schemas/AttributeType"
        format_output_type:
          oneOf:
            - $ref: "#/components/schemas/FormatOutputType"
            - type: "null"
          description: Only valid for format Attributes. Defaults to text when omitted or null.
        enum_values:
          type: [array, "null"]
          items:
            type: string
        tags_values:
          type: [array, "null"]
          items:
            type: string
        allow_custom_values:
          type: boolean
          default: true
        boolean_config:
          type: [object, "null"]
          additionalProperties: true
        number_config:
          oneOf:
            - $ref: "#/components/schemas/NumberConfig"
            - type: "null"
          description: Only valid for number or Formula-number Attributes. Omit during an upsert to preserve existing metadata.
        relation_config:
          type: [object, "null"]
          additionalProperties: true
          description: Relation kind is immutable after creation.
        description:
          type: [string, "null"]
        validation:
          type: [object, "null"]
          additionalProperties: true
        language:
          type: [string, "null"]
          description: When omitted during an upsert, the existing language is preserved.
        image_config:
          $ref: "#/components/schemas/ImageConfig"
          description: When omitted during an upsert, existing canonical image requirements are preserved. Send an empty object to clear them.
        is_reviewed:
          type: boolean

    AttributeUpdateInput:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
          deprecated: true
          description: Retained for request compatibility but does not rename the Attribute. Use the rename operation.
        label:
          type: string
        format_output_type:
          oneOf:
            - $ref: "#/components/schemas/FormatOutputType"
            - type: "null"
          description: Only valid for format Attributes. Omit to preserve the current output type; null resets it to text.
        enum_values:
          type: [array, "null"]
          items:
            type: string
        tags_values:
          type: [array, "null"]
          items:
            type: string
        allow_custom_values:
          type: boolean
        boolean_config:
          type: [object, "null"]
          additionalProperties: true
        number_config:
          oneOf:
            - $ref: "#/components/schemas/NumberConfig"
            - type: "null"
          description: Only valid for number or Formula-number Attributes. Send null to clear; omitted fields remain unchanged.
        relation_config:
          type: [object, "null"]
          additionalProperties: true
          description: Relation configuration may change, but relation kind is immutable.
        description:
          type: [string, "null"]
        validation:
          type: [object, "null"]
          additionalProperties: true
        language:
          type: [string, "null"]
          description: Omitted fields remain unchanged.
        image_config:
          $ref: "#/components/schemas/ImageConfig"
          description: Omitted fields remain unchanged. Send an empty object to clear canonical requirements.
        is_reviewed:
          type: boolean
        detach:
          type: boolean
          description: Detach a source-managed Attribute before editing source-owned content.
        expected_updated_at:
          type: string
          format: date-time
          description: Optional compare-and-set revision. Refetch after a stale_write response.

    AttributeBulkInput:
      type: object
      required: [attributes]
      properties:
        attributes:
          type: array
          minItems: 1
          maxItems: 500
          items:
            $ref: "#/components/schemas/AttributeInput"

    AttributeBulkResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Attribute"

    AttributeListResponse:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Attribute"
        pagination:
          $ref: "#/components/schemas/Pagination"

    AttributeRenameResult:
      type: object
      required: [updated, errors, error_count, code]
      properties:
        updated:
          type: integer
          minimum: 0
        errors:
          type: array
          maxItems: 0
          description: Empty for an atomic successful rename.
          items:
            type: string
        error_count:
          type: integer
          const: 0
        code:
          type: string
          const: ok

    AttributeRenameResponse:
      type: object
      required: [success, partial, old_key, new_key, updated_count, error_count, attribute, results]
      properties:
        success:
          type: boolean
          const: true
        partial:
          type: boolean
          const: false
        old_key:
          type: string
        new_key:
          type: string
        updated_count:
          type: integer
          minimum: 0
        error_count:
          type: integer
          const: 0
        attribute:
          $ref: "#/components/schemas/Attribute"
        results:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/AttributeRenameResult"

    Pagination:
      type: object
      required: [page, limit, total]
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer

    ColumnType:
      type: string
      enum: [text, number, url, email, date, boolean, richtext, runnable, format, enum, tags, image, images, file, files, json, relation]

    Column:
      type: object
      additionalProperties: true
      required: [attribute_id, kind, key, label, type]
      description: |
        A column returned by schema and table read APIs. Every returned column includes
        `attribute_id` and `kind`. Attribute columns are hydrated from the current company
        Attribute definition; helpers keep their table- or schema-local definition.

        API visibility does not imply eligibility for Catalog or other persistent/scheduled
        sync destinations. Those destinations accept canonical Attribute-backed columns only.
        Filter canonical columns with `kind == "attribute"`; helpers remain available for
        one-time table reads and file exports according to the destination's rules.
      properties:
        id:
          type: string
          description: Server-issued stable usage ID. Retain it when round-tripping schema updates.
        attribute_id:
          type: [string, "null"]
          format: uuid
          description: Stable company Attribute ID, or null for a local helper.
        kind:
          type: string
          enum: [attribute, helper]
          description: Derived column identity. Callers cannot use this field to bypass destination eligibility.
        attribute_status:
          type: string
          enum: [active, archived]
        attribute_archived_at:
          type: [string, "null"]
          format: date-time
        attribute_resolution_error:
          type: string
          enum: [missing_attribute]
        key:
          type: string
          description: Unique column identifier
        label:
          type: string
          description: Display name
        type:
          $ref: "#/components/schemas/ColumnType"
        format_output_type:
          oneOf:
            - $ref: "#/components/schemas/FormatOutputType"
            - type: "null"
          description: Declared stored value type for Formula columns. Null or omitted defaults to text.
        required:
          type: boolean
          default: false
        description:
          type: string
        language:
          type: [string, "null"]
          description: Language code inherited from the canonical Attribute when configured.
        enum_values:
          type: array
          items:
            type: string
          description: Allowed values for enum and tags types
        tags_values:
          type: array
          items:
            type: string
        boolean_config:
          type: object
          additionalProperties: true
        number_config:
          oneOf:
            - $ref: "#/components/schemas/NumberConfig"
            - type: "null"
          description: Canonical presentation metadata. API values remain raw numbers.
        validation:
          oneOf:
            - type: object
              additionalProperties: true
            - type: string
        image_config:
          type: object
          additionalProperties: true
        runnable_config:
          type: object
          additionalProperties: true
        format_config:
          type: object
          additionalProperties: true
        enum_config:
          type: object
          additionalProperties: true
        tags_config:
          type: object
          additionalProperties: true
        relation_config:
          type: [object, "null"]
          additionalProperties: true
        zip_export_config:
          type: object
          additionalProperties: true
        fast_photo_config:
          type: object
          additionalProperties: true
        content_template:
          type: object
          additionalProperties: true
        always_export:
          type: boolean
        never_export:
          type: boolean
        zip_name_column:
          type: string
        content_template_id:
          type: string
        is_title:
          type: boolean
        is_thumbnail:
          type: boolean
          description: Marks this Shared image/gallery usage as the Catalog product thumbnail.
      examples:
        - attribute_id: 11111111-1111-4111-8111-111111111111
          kind: attribute
          key: product_name
          label: Product name
          type: text
          language: en
        - attribute_id: null
          kind: helper
          key: working_copy
          label: Working copy
          type: text

    SchemaColumnInput:
      type: object
      additionalProperties: true
      required: [key, label, type]
      description: |
        Column accepted by schema create/update. Omitting both `attribute_id` and `kind`
        retains legacy behavior: the server creates or attaches the shared Attribute for
        the key. Send `kind: helper` to opt into a local helper. Send `attribute_id` with
        `kind: attribute` to attach an existing company Attribute; key and type must match.
      properties:
        id:
          type: string
          description: Existing usage ID to retain during full schema updates.
        attribute_id:
          type: [string, "null"]
          format: uuid
        kind:
          type: string
          enum: [attribute, helper]
        key:
          type: string
        label:
          type: string
        type:
          $ref: "#/components/schemas/ColumnType"
        format_output_type:
          oneOf:
            - $ref: "#/components/schemas/FormatOutputType"
            - type: "null"
          description: Declared stored value type for Formula columns. Null or omitted defaults to text.
        required:
          type: boolean
          default: false
        description:
          type: string
        language:
          type: [string, "null"]
        enum_values:
          type: array
          items:
            type: string
        tags_values:
          type: array
          items:
            type: string
        boolean_config:
          type: object
          additionalProperties: true
        number_config:
          oneOf:
            - $ref: "#/components/schemas/NumberConfig"
            - type: "null"
        validation:
          oneOf:
            - type: object
              additionalProperties: true
            - type: string
        image_config:
          type: object
          additionalProperties: true
        runnable_config:
          type: object
          additionalProperties: true
        format_config:
          type: object
          additionalProperties: true
        enum_config:
          type: object
          additionalProperties: true
        tags_config:
          type: object
          additionalProperties: true
        relation_config:
          type: [object, "null"]
          additionalProperties: true
        zip_export_config:
          type: object
          additionalProperties: true
        fast_photo_config:
          type: object
          additionalProperties: true
        content_template:
          type: object
          additionalProperties: true
        always_export:
          type: boolean
        never_export:
          type: boolean
        zip_name_column:
          type: string
        content_template_id:
          type: string
        is_title:
          type: boolean
        is_thumbnail:
          type: boolean
          description: Marks this Shared image/gallery usage as the Catalog product thumbnail.

    InlineColumn:
      type: object
      required: [key, label, type]
      description: Ephemeral output shape for search/enrich; it does not create or attach a shared Attribute.
      properties:
        key:
          type: string
        label:
          type: string
        type:
          $ref: "#/components/schemas/ColumnType"
        required:
          type: boolean
          default: false
        description:
          type: string
        enum_values:
          type: array
          items:
            type: string

    Schema:
      type: object
      required: [id, name, columns, created_at, updated_at]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        is_default:
          type: boolean
        columns:
          type: array
          items:
            $ref: "#/components/schemas/Column"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      examples:
        - id: 9e1c77dd-8f10-41ca-bfe8-e672b89692d1
          name: Supplier products
          description: Core supplier feed fields
          is_default: false
          columns:
            - id: 8d79b7da-7134-443e-8110-678fe04de51b
              attribute_id: 11111111-1111-4111-8111-111111111111
              kind: attribute
              key: product_name
              label: Product name
              type: text
          created_at: "2026-08-31T09:00:00.000Z"
          updated_at: "2026-08-31T09:00:00.000Z"

    SchemaListItem:
      type: object
      required: [id, name, columns_count, created_at, updated_at]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        columns_count:
          type: integer
        is_default:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    File:
      type: object
      required: [id, filename, size, created_at]
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        size:
          type: integer
          description: File size in bytes
        content_type:
          type: string
        created_at:
          type: string
          format: date-time
      examples:
        - id: 4be9e43c-f03a-4309-938c-d2e9482752cf
          filename: supplier-products.xlsx
          size: 42816
          content_type: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
          created_at: "2026-08-31T09:10:00.000Z"

    TableStatus:
      type: string
      description: Raw extraction job status returned by the API.
      enum: [queued, queued_for_processing, processing, processing_by_worker, completed, error, cancelled]

    Table:
      type: object
      required: [id, name, schema_id, status, total_rows, created_at, updated_at]
      properties:
        id:
          type: string
        name:
          type: string
        schema_id:
          type: string
        status:
          $ref: "#/components/schemas/TableStatus"
        progress:
          type: integer
          minimum: 0
          maximum: 100
        total_rows:
          type: integer
        source_type:
          type: string
          enum: [files, text]
        additional_context:
          type: ["string", "null"]
        enhancement_context:
          type: ["string", "null"]
        error_message:
          type: ["string", "null"]
        files:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              path:
                type: string
                description: Stored source path or submitted source URL.
              size:
                type: integer
        locked:
          type: boolean
        locked_at:
          type: ["string", "null"]
          format: date-time
        locked_by:
          type: ["string", "null"]
          format: uuid
        skipped_source_updates:
          type: integer
        last_skipped_source_update_at:
          type: ["string", "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      examples:
        - id: d2b3dbe0-c77d-40d8-a5d2-480722489c64
          name: August supplier feed
          schema_id: 9e1c77dd-8f10-41ca-bfe8-e672b89692d1
          status: queued_for_processing
          progress: 0
          total_rows: 0
          source_type: text
          additional_context: Prices use EUR.
          enhancement_context: null
          error_message: null
          files: []
          locked: false
          locked_at: null
          locked_by: null
          skipped_source_updates: 0
          last_skipped_source_update_at: null
          created_at: "2026-08-31T09:15:00.000Z"
          updated_at: "2026-08-31T09:15:00.000Z"

    TableListItem:
      type: object
      required: [id, name, status, total_rows, schema_id, created_at]
      properties:
        id:
          type: string
        name:
          type: string
        status:
          $ref: "#/components/schemas/TableStatus"
        total_rows:
          type: integer
        schema_id:
          type: string
        locked:
          type: boolean
        locked_at:
          type: ["string", "null"]
          format: date-time
        locked_by:
          type: ["string", "null"]
          format: uuid
        created_at:
          type: string
          format: date-time

    Row:
      type: object
      required: [id, row_index, data, created_at]
      properties:
        id:
          type: string
          format: uuid
        row_index:
          type: integer
        data:
          type: object
          additionalProperties: true
          description: Key-value pairs matching the table schema columns
        validation_status:
          type: string
          enum: [valid, warning, error]
        validation_errors:
          type: array
          items:
            type: object
            properties:
              column_key:
                type: string
              message:
                type: string
        enhancement_status:
          type: object
          additionalProperties:
            type: object
            properties:
              status:
                type: string
                enum: [not_run, pending, processing, success, error]
              confidence:
                type: number
                minimum: 0
                maximum: 1
              error:
                type: string
        is_edited:
          type: boolean
        created_at:
          type: string
          format: date-time
      examples:
        - id: 83ba2c61-8592-4614-ac46-10f43580dfb8
          row_index: 0
          data:
            sku: A-100
            product_name: Alpine bottle
            price: 24.9
          validation_status: valid
          validation_errors: []
          enhancement_status: {}
          is_edited: false
          created_at: "2026-08-31T09:20:00.000Z"

    EnhanceRequest:
      type: object
      required: [row_ids, column_key, prompt]
      properties:
        row_ids:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            type: string
            format: uuid
          description: One row_id for single cell, multiple for column enhancement. Duplicate IDs are processed once.
        column_key:
          type: string
        prompt:
          type: string
          description: "AI instructions. Reference another column with its key, for example {{product_name}}."
        model:
          type: string
          deprecated: true
          description: Legacy compatibility field. The service ignores the requested value and routes enhancement through its configured Gemini provider.
        web_search:
          type: boolean
          default: true
        target_language:
          type: string
          description: ISO language code for translation
        use_glossary:
          type: boolean
          default: false
      example:
        row_ids:
          - 83ba2c61-8592-4614-ac46-10f43580dfb8
          - 2f98bfb5-820e-488e-b92f-3f4559a4a788
        column_key: product_name_cs
        prompt: Translate {{product_name}} to Czech.
        target_language: cs
        use_glossary: true

    EnhanceBulkRequest:
      type: object
      required: [row_id, columns]
      properties:
        row_id:
          type: string
          format: uuid
        columns:
          type: array
          minItems: 1
          items:
            type: object
            required: [key, prompt]
            properties:
              key:
                type: string
              prompt:
                type: string
              model:
                type: string
                deprecated: true
                description: Legacy compatibility field. The service ignores the requested value and routes enhancement through its configured Gemini provider.
              web_search:
                type: boolean
              target_language:
                type: string
      example:
        row_id: 83ba2c61-8592-4614-ac46-10f43580dfb8
        columns:
          - key: short_description
            prompt: Write a concise description from {{product_name}} and {{material}}.
          - key: product_name_cs
            prompt: Translate {{product_name}} to Czech.
            target_language: cs

    EnhanceResponse:
      type: object
      required: [id, status, estimated_credits]
      properties:
        id:
          type: string
          description: Enhancement job ID
        status:
          type: string
          enum: [queued, processing]
        estimated_credits:
          type: number
        rows_queued:
          type: integer

    EnhanceStatusResponse:
      type: object
      properties:
        columns:
          type: object
          additionalProperties:
            type: object
            properties:
              total:
                type: integer
              completed:
                type: integer
              failed:
                type: integer
              pending:
                type: integer
              processing:
                type: integer

    Trace:
      type: object
      properties:
        column_key:
          type: string
        model:
          type: string
        confidence:
          type: number
        request:
          type: object
          properties:
            system_prompt:
              type: string
            user_content:
              type: string
            tools:
              type: array
              items:
                type: string
        response:
          type: object
          properties:
            text:
              type: string
            iterations:
              type: integer
            tool_calls:
              type: array
              items:
                type: object
                properties:
                  tool:
                    type: string
                  input:
                    type: object
                  output:
                    type: string
            thought_summary:
              type: string
            sources:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                  title:
                    type: string

    GlossaryTerm:
      type: object
      required: [id, term, type, created_at]
      properties:
        id:
          type: string
        term:
          type: string
        type:
          type: string
          enum: [do_not_translate, specific_translation, context_dependent]
        case_sensitive:
          type: boolean
          default: false
        category:
          type: string
        translations:
          type: object
          additionalProperties:
            type: string
          description: "Language code to translation mapping, e.g. {\"de\": \"Bildschirm\", \"fr\": \"Écran\"}"
        created_at:
          type: string
          format: date-time

    CreditBalance:
      type: object
      required: [balance, currency]
      properties:
        balance:
          type: number
        currency:
          type: string
          default: credits
      examples:
        - balance: 1248.5
          currency: credits

    CreditUsageEntry:
      type: object
      properties:
        id:
          type: string
        service:
          type: string
          description: Raw `service_type` from the credit ledger, such as `product_import`, `pdf_extraction`, `ai_field`, `ai_field_bulk`, `product_search`, `product_enrich`, `image_gallery_max`, `ai_image_generation`, `ai_image_generation_flash`, or `richtext_alt_text`.
        amount:
          type: number
        table_id:
          type: string
          description: Legacy field name populated from transaction metadata `job_id`. Depending on the service, this may identify a table, enhancement job, Search job, or Enrich job.
        description:
          type: string
        created_at:
          type: string
          format: date-time

    CreditStats:
      type: object
      required: [period, summary, daily, by_module, by_service, by_user, lasso, currency_config]
      properties:
        period:
          type: object
          required: [from, to]
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
        summary:
          type: object
          required: [total_spent, previous_period_spent, previous_period_change_pct, monthly_allocation, period_end, cost_per_credit]
          properties:
            total_spent:
              type: number
            previous_period_spent:
              type: number
            previous_period_change_pct:
              type: [number, "null"]
            monthly_allocation:
              type: number
            period_end:
              type: [string, "null"]
              format: date-time
            cost_per_credit:
              oneOf:
                - type: object
                  required: [amount, currency, monthly_fee, monthly_credits]
                  properties:
                    amount:
                      type: number
                    currency:
                      type: string
                      enum: [CZK, EUR]
                    monthly_fee:
                      type: number
                    monthly_credits:
                      type: number
                - type: "null"
        daily:
          type: array
          items:
            type: object
            required: [date, total, by_module, by_user]
            properties:
              date:
                type: string
                format: date
              total:
                type: number
              by_module:
                type: object
                additionalProperties:
                  type: number
              by_user:
                type: object
                additionalProperties:
                  type: number
        by_module:
          type: array
          items:
            type: object
            required: [module_key, total]
            properties:
              module_key:
                type: string
              total:
                type: number
        by_service:
          type: array
          items:
            type: object
            required: [service_type, total]
            properties:
              service_type:
                type: string
              total:
                type: number
        by_user:
          type: array
          items:
            type: object
            required: [user_id, total]
            properties:
              user_id:
                type: string
                description: User UUID or `system` for unattributed usage.
              total:
                type: number
        lasso:
          type: object
          required: [credits_spent, products_enhanced, credits_per_product, by_table]
          properties:
            credits_spent:
              type: number
            products_enhanced:
              type: number
            credits_per_product:
              type: [number, "null"]
            by_table:
              type: array
              items:
                type: object
                required: [table_id, name, total, products]
                properties:
                  table_id:
                    type: [string, "null"]
                    format: uuid
                  name:
                    type: string
                  total:
                    type: number
                  products:
                    type: number
        currency_config:
          type: object
          required: [monthly_fee_czk, monthly_fee_eur, monthly_credits, auto_eur]
          properties:
            monthly_fee_czk:
              type: [number, "null"]
            monthly_fee_eur:
              type: [number, "null"]
            monthly_credits:
              type: number
            auto_eur:
              type: boolean

    ProductAnalyticsPeriod:
      type: object
      required: [from, to]
      properties:
        from:
          type: string
          format: date
        to:
          type: string
          format: date

    ProductAnalyticsFilters:
      type: object
      required: [catalog_status, user_id, schema_id, table_id, source]
      properties:
        catalog_status:
          type: string
          enum: [all, active, draft, archived]
        user_id:
          type: [string, "null"]
          description: User UUID, `system`, or null when no user filter is active.
        schema_id:
          type: [string, "null"]
          format: uuid
        table_id:
          type: [string, "null"]
          format: uuid
        source:
          type: [string, "null"]
          enum: [manual, product_extraction, shopify, null]

    ProductAnalyticsActor:
      type: object
      required: [id, name, email, avatar_url, avatar_kind, avatar_config, avatar_storage_path, permission_preset, is_former_member]
      properties:
        id:
          type: [string, "null"]
          format: uuid
        name:
          type: string
        email:
          type: [string, "null"]
          format: email
        avatar_url:
          type: [string, "null"]
          format: uri
        avatar_kind:
          type: [string, "null"]
          enum: [upload, boring, null]
        avatar_config:
          type: [object, "null"]
          additionalProperties: true
        avatar_storage_path:
          type: [string, "null"]
        permission_preset:
          type: [string, "null"]
          description: Current permission preset; null for system or former actors without a current membership.
        is_former_member:
          type: boolean

    ProductAnalyticsCatalogLeaderboardRow:
      type: object
      required: [user, unique_products, new_products, updated_existing, total_actions]
      properties:
        user:
          $ref: "#/components/schemas/ProductAnalyticsActor"
        unique_products:
          type: integer
          minimum: 0
        new_products:
          type: integer
          minimum: 0
        updated_existing:
          type: integer
          minimum: 0
        total_actions:
          type: integer
          minimum: 0

    ProductAnalyticsExtractionUserRow:
      type: object
      required: [user, products_prepared, tables]
      properties:
        user:
          $ref: "#/components/schemas/ProductAnalyticsActor"
        products_prepared:
          type: integer
          minimum: 0
        tables:
          type: integer
          minimum: 0

    ProductAnalyticsExtractionTableRow:
      type: object
      required: [table_id, table_name, initiator, products_prepared]
      properties:
        table_id:
          type: string
          format: uuid
        table_name:
          type: string
        initiator:
          $ref: "#/components/schemas/ProductAnalyticsActor"
        products_prepared:
          type: integer
          minimum: 0

    ProductAnalyticsSummaryResponse:
      type: object
      required: [period, filters]
      properties:
        period:
          $ref: "#/components/schemas/ProductAnalyticsPeriod"
        filters:
          $ref: "#/components/schemas/ProductAnalyticsFilters"
        catalog:
          type: object
          required: [summary, current, daily, by_user]
          properties:
            summary:
              type: object
              required: [unique_products, new_products, updated_existing, total_actions]
              properties:
                unique_products: { type: integer, minimum: 0 }
                new_products: { type: integer, minimum: 0 }
                updated_existing: { type: integer, minimum: 0 }
                total_actions: { type: integer, minimum: 0 }
            current:
              type: object
              required: [all_live, active, draft, archived]
              properties:
                all_live: { type: integer, minimum: 0 }
                active: { type: integer, minimum: 0 }
                draft: { type: integer, minimum: 0 }
                archived: { type: integer, minimum: 0 }
            daily:
              type: array
              items:
                type: object
                required: [date, unique_products, new_products, updated_existing]
                properties:
                  date: { type: string, format: date }
                  unique_products: { type: integer, minimum: 0 }
                  new_products: { type: integer, minimum: 0 }
                  updated_existing: { type: integer, minimum: 0 }
            by_user:
              type: array
              items:
                $ref: "#/components/schemas/ProductAnalyticsCatalogLeaderboardRow"
        extraction:
          type: object
          required: [summary, daily, by_user, by_table]
          properties:
            summary:
              type: object
              required: [products_prepared, tables]
              properties:
                products_prepared: { type: integer, minimum: 0 }
                tables: { type: integer, minimum: 0 }
            daily:
              type: array
              items:
                type: object
                required: [date, products_prepared]
                properties:
                  date: { type: string, format: date }
                  products_prepared: { type: integer, minimum: 0 }
            by_user:
              type: array
              items:
                $ref: "#/components/schemas/ProductAnalyticsExtractionUserRow"
            by_table:
              type: array
              items:
                $ref: "#/components/schemas/ProductAnalyticsExtractionTableRow"

    ProductAnalyticsLeaderboardResponse:
      type: object
      required: [period, filters, scope, by_user]
      properties:
        period:
          $ref: "#/components/schemas/ProductAnalyticsPeriod"
        filters:
          $ref: "#/components/schemas/ProductAnalyticsFilters"
        scope:
          type: string
          enum: [catalog, extraction]
        by_user:
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/ProductAnalyticsCatalogLeaderboardRow"
              - $ref: "#/components/schemas/ProductAnalyticsExtractionUserRow"
        by_table:
          type: array
          description: Present only for extraction scope.
          items:
            $ref: "#/components/schemas/ProductAnalyticsExtractionTableRow"

    ProductAnalyticsCatalogActivityItem:
      type: object
      required: [id, name, identity, status, source, schema_id, classification, first_activity_at, last_activity_at, action_count, contributors]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        identity: { type: [string, "null"] }
        status: { type: string, enum: [active, draft, archived] }
        source: { type: string, enum: [manual, product_extraction, shopify] }
        schema_id: { type: string, format: uuid }
        classification: { type: string, enum: [new, updated_existing] }
        first_activity_at: { type: string, format: date-time }
        last_activity_at: { type: string, format: date-time }
        action_count: { type: integer, minimum: 1 }
        contributors:
          type: array
          items:
            $ref: "#/components/schemas/ProductAnalyticsActor"

    ProductAnalyticsExtractionActivityItem:
      type: object
      required: [id, name, row_index, source_file, table_id, table_name, last_activity_at, initiator]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        row_index: { type: integer, minimum: 0 }
        source_file: { type: string }
        table_id: { type: string, format: uuid }
        table_name: { type: string }
        last_activity_at: { type: string, format: date-time }
        initiator:
          $ref: "#/components/schemas/ProductAnalyticsActor"

    ProductAnalyticsActivityResponse:
      type: object
      required: [scope, items, next_cursor]
      properties:
        scope:
          type: string
          enum: [catalog, extraction]
        items:
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/ProductAnalyticsCatalogActivityItem"
              - $ref: "#/components/schemas/ProductAnalyticsExtractionActivityItem"
        next_cursor:
          type: [string, "null"]
          description: Opaque cursor for the next page, or null when no more rows remain.

    SearchResult:
      type: object
      properties:
        data:
          type: object
          additionalProperties: true
        source_url:
          type: string
        source_title:
          type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1

    SearchResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [completed]
        query:
          type: string
        results:
          type: array
          items:
            $ref: "#/components/schemas/SearchResult"
        total_results:
          type: integer
        credits_used:
          type: number
        error:
          type: string
          description: Present when the worker could not complete the search, including insufficient-credit outcomes. The current synchronous handler can still return this payload with HTTP `200`.

    Citation:
      type: object
      properties:
        url:
          type: string
        title:
          type: string
        excerpt:
          type: string

    FieldBasis:
      type: object
      properties:
        field:
          type: string
        citations:
          type: array
          items:
            $ref: "#/components/schemas/Citation"
        reasoning:
          type: string
        confidence:
          type: string
          enum: [high, medium, low]

    EnrichResultItem:
      type: object
      properties:
        data:
          type: object
          additionalProperties: true
        basis:
          type: array
          items:
            $ref: "#/components/schemas/FieldBasis"

    EnrichResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [completed]
        items:
          type: array
          items:
            $ref: "#/components/schemas/EnrichResultItem"
        credits_used:
          type: number
        error:
          type: string
          description: Present for a request-wide worker failure such as insufficient credits. The current synchronous handler can still return this payload with HTTP `200`.

    CatalogAttributeExtension:
      type: object
      additionalProperties: false
      required: [attribute_id, key]
      description: An active Shared Attribute attached only to this Catalog product, without changing its Product Schema.
      properties:
        attribute_id:
          type: string
          format: uuid
        key:
          type: string
          description: Current canonical Attribute key.

    CatalogProduct:
      type: object
      additionalProperties: false
      required: [id, company_id, schema_id, source, external_id, status, attributes, attribute_extensions, created_at, updated_at, deleted_at]
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        schema_id:
          type: string
          format: uuid
        source:
          type: string
          enum: [manual, product_extraction, shopify]
        external_id:
          type: [string, "null"]
        status:
          type: string
          enum: [draft, active, archived]
        attributes:
          type: object
          additionalProperties: true
          description: Values backed by active Shared Attributes from the base schema or attribute_extensions.
        attribute_extensions:
          type: array
          maxItems: 2000
          items:
            $ref: "#/components/schemas/CatalogAttributeExtension"
        relations:
          type: object
          additionalProperties: true
          description: Hydrated relation values. Present on the single-product GET response.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time
      examples:
        - id: 13adf145-d9a0-4c28-9235-3f7e17af4cf1
          company_id: 81e2b625-e6e8-4dd5-a50f-22803806cc10
          schema_id: 9e1c77dd-8f10-41ca-bfe8-e672b89692d1
          source: manual
          external_id: null
          status: draft
          attributes:
            sku: A-100
            product_name: Alpine bottle
            price: 24.9
          attribute_extensions:
            - attribute_id: e683267d-2450-4ea8-a977-462d46a8f610
              key: supplier_note
          created_at: "2026-08-31T09:30:00.000Z"
          updated_at: "2026-08-31T09:30:00.000Z"
          deleted_at: null

    CatalogProductCreateInput:
      type: object
      additionalProperties: false
      required: [schema_id, attributes]
      properties:
        schema_id:
          type: string
          format: uuid
        attributes:
          type: object
          additionalProperties: true
        attribute_extension_ids:
          type: array
          maxItems: 2000
          uniqueItems: true
          description: Active Shared Attribute UUIDs to attach only to this product. Attributes already owned by the base schema remain schema fields and are not duplicated here.
          items:
            type: string
            format: uuid
      example:
        schema_id: 9e1c77dd-8f10-41ca-bfe8-e672b89692d1
        attributes:
          sku: A-100
          product_name: Alpine bottle
          price: 24.9
        attribute_extension_ids:
          - e683267d-2450-4ea8-a977-462d46a8f610

    CatalogProductUpdateInput:
      type: object
      additionalProperties: false
      required: [attributes]
      properties:
        attributes:
          type: object
          additionalProperties: true
          description: Sparse values are merged with the current public Attribute values.
        expected_updated_at:
          type: string
          format: date-time
        attribute_extension_ids:
          type: array
          maxItems: 2000
          uniqueItems: true
          description: Active Shared Attribute UUIDs to attach. Existing product-only Attributes are preserved when this field is omitted or empty.
          items:
            type: string
            format: uuid
        remove_attribute_extension_ids:
          type: array
          maxItems: 2000
          uniqueItems: true
          description: Product-only Shared Attribute UUIDs to detach. Their product values or Relation links are removed atomically; base-schema Attributes cannot be removed here.
          items:
            type: string
            format: uuid
      example:
        attributes:
          price: 22.9
        expected_updated_at: "2026-08-31T09:15:00.000Z"
        remove_attribute_extension_ids:
          - e683267d-2450-4ea8-a977-462d46a8f610

    CatalogProductListResponse:
      type: object
      additionalProperties: false
      required: [products, next_cursor]
      properties:
        products:
          type: array
          items:
            $ref: "#/components/schemas/CatalogProduct"
        next_cursor:
          type: [string, "null"]

    CatalogWebhookEvent:
      type: string
      enum:
        - product.created
        - product.updated
        - product.deleted
        - attribute.created
        - attribute.updated
        - attribute.deleted

    CatalogWebhookEndpoint:
      type: object
      required: [id, company_id, name, url, events, enabled, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 120
        url:
          type: string
          format: uri
          description: HTTPS public destination. HTTP localhost is accepted only by local development servers.
        events:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: "#/components/schemas/CatalogWebhookEvent"
        enabled:
          type: boolean
        description:
          type: [string, "null"]
          maxLength: 500
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CatalogWebhookCreateInput:
      type: object
      required: [url, events]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
          description: Optional for API clients; defaults to the destination hostname. The dashboard requires it.
        url:
          type: string
          format: uri
          maxLength: 2048
        events:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: "#/components/schemas/CatalogWebhookEvent"
        description:
          type: [string, "null"]
          maxLength: 500
      example:
        name: ERP product sync
        url: https://erp.example.com/webhooks/lasso
        events:
          - product.created
          - product.updated
          - product.deleted
        description: Synchronize Catalog changes to the ERP.

    CatalogWebhookCreateResponse:
      allOf:
        - $ref: "#/components/schemas/CatalogWebhookEndpoint"
        - type: object
          required: [secret]
          properties:
            secret:
              type: string
              description: One-time signing secret. It is never returned by later reads or updates.

    CatalogWebhookDelivery:
      type: object
      required:
        - id
        - endpoint_id
        - delivery_id
        - attempt_number
        - event
        - delivered_at
        - is_test
      properties:
        id:
          type: string
          format: uuid
          description: Delivery-attempt record identifier used by the redeliver action.
        endpoint_id:
          type: string
          format: uuid
        delivery_id:
          type: string
          format: uuid
          description: Stable logical delivery identifier reused in X-Lasso-Delivery-Id across redelivery attempts.
        attempt_number:
          type: integer
          minimum: 1
        event:
          oneOf:
            - $ref: "#/components/schemas/CatalogWebhookEvent"
            - type: string
              const: webhook.test
        status_code:
          type: [integer, "null"]
        error:
          type: [string, "null"]
          maxLength: 500
        duration_ms:
          type: [integer, "null"]
          minimum: 0
        delivered_at:
          type: string
          format: date-time
        is_test:
          type: boolean
        redelivered_from:
          type: [string, "null"]
          format: uuid
      description: Delivery metadata only. Stored payloads and signing secrets are never returned.

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Authentication error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ValidationError:
      description: Request validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

paths:
  /catalog:
    get:
      operationId: listCatalogProducts
      tags: [Catalog]
      summary: List Catalog products
      description: Returns active Shared Attribute values from each product's base schema and its own product-only Attribute extensions.
      parameters:
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, archived]
        - name: source
          in: query
          schema:
            type: string
            enum: [manual, product_extraction, shopify]
        - name: search
          in: query
          schema:
            type: string
        - name: schema_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Keyset-paginated Catalog products.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogProductListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createCatalogProduct
      tags: [Catalog]
      summary: Create a Catalog product
      description: Product-only Shared Attributes are attached by stable ID without widening the selected Product Schema.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CatalogProductCreateInput"
      responses:
        "201":
          description: Catalog product created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogProduct"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl --request POST \
              --url https://app.productlasso.com/api/v1/catalog \
              --header "Authorization: Bearer $LASSO_API_KEY" \
              --header "Content-Type: application/json" \
              --data '{
                "schema_id": "9e1c77dd-8f10-41ca-bfe8-e672b89692d1",
                "attributes": {"sku": "A-100", "product_name": "Alpine bottle", "price": 24.9},
                "attribute_extension_ids": ["e683267d-2450-4ea8-a977-462d46a8f610"]
              }'
        - lang: typescript
          label: TypeScript
          source: |
            const response = await fetch("https://app.productlasso.com/api/v1/catalog", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.LASSO_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                schema_id: "9e1c77dd-8f10-41ca-bfe8-e672b89692d1",
                attributes: { sku: "A-100", product_name: "Alpine bottle", price: 24.9 },
                attribute_extension_ids: ["e683267d-2450-4ea8-a977-462d46a8f610"],
              }),
            });

            if (!response.ok) throw new Error(await response.text());
            const product = await response.json();
        - lang: python
          label: Python
          source: |
            import os
            import requests

            response = requests.post(
                "https://app.productlasso.com/api/v1/catalog",
                headers={"Authorization": f"Bearer {os.environ['LASSO_API_KEY']}"},
                json={
                    "schema_id": "9e1c77dd-8f10-41ca-bfe8-e672b89692d1",
                    "attributes": {"sku": "A-100", "product_name": "Alpine bottle", "price": 24.9},
                    "attribute_extension_ids": ["e683267d-2450-4ea8-a977-462d46a8f610"],
                },
                timeout=30,
            )
            response.raise_for_status()
            product = response.json()

  /catalog/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getCatalogProduct
      tags: [Catalog]
      summary: Get a Catalog product
      responses:
        "200":
          description: Catalog product with base-schema and product-only Shared Attribute values.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogProduct"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateCatalogProduct
      tags: [Catalog]
      summary: Update a Catalog product
      description: Attaches or detaches product-only Shared Attributes atomically with their values. Omitted existing extensions are preserved; only remove_attribute_extension_ids detaches them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CatalogProductUpdateInput"
      responses:
        "200":
          description: Catalog product updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogProduct"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: deleteCatalogProduct
      tags: [Catalog]
      summary: Soft-delete a Catalog product
      responses:
        "200":
          description: Product deletion result.
          content:
            application/json:
              schema:
                type: object
                required: [deleted, id]
                properties:
                  deleted:
                    type: boolean
                    const: true
                  id:
                    type: string
                    format: uuid
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /catalog/lookup:
    get:
      operationId: lookupCatalogProduct
      tags: [Catalog]
      summary: Look up a Catalog product by Attribute value
      description: Returns the first active product whose stored Attribute value exactly matches the supplied value.
      parameters:
        - name: key
          in: query
          required: true
          description: Attribute storage key. Letters, digits, underscores, and slashes are accepted.
          schema:
            type: string
        - name: value
          in: query
          required: true
          description: Exact Attribute value to match.
          schema:
            type: string
      responses:
        "200":
          description: Matching Catalog product.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogProduct"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /catalog/changes:
    get:
      operationId: listCatalogChanges
      tags: [Catalog]
      summary: List Catalog products changed after a timestamp
      description: Returns products oldest-first for incremental synchronization. Keep the first page's `sync_timestamp` for the next synchronization cycle.
      parameters:
        - name: since
          in: query
          required: true
          description: Valid ISO 8601 timestamp. Only products updated after this instant are returned.
          schema:
            type: string
            format: date-time
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 200
        - name: cursor
          in: query
          schema:
            type: string
        - name: schema_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, archived]
      responses:
        "200":
          description: Keyset-paginated changed products.
          content:
            application/json:
              schema:
                type: object
                required: [products, next_cursor, has_more, sync_timestamp]
                properties:
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/CatalogProduct"
                  next_cursor:
                    type: [string, "null"]
                  has_more:
                    type: boolean
                  sync_timestamp:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /catalog/webhooks:
    get:
      operationId: listCatalogWebhooks
      tags: [Catalog Webhooks]
      summary: List catalog webhook endpoints
      responses:
        "200":
          description: Company webhook endpoints without signing secrets
          content:
            application/json:
              schema:
                type: object
                required: [webhooks]
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: "#/components/schemas/CatalogWebhookEndpoint"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createCatalogWebhook
      tags: [Catalog Webhooks]
      summary: Create a catalog webhook endpoint
      description: Validates DNS and permits only public HTTPS destinations outside local development.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CatalogWebhookCreateInput"
      responses:
        "201":
          description: Endpoint plus its one-time signing secret
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogWebhookCreateResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl --request POST \
              --url https://app.productlasso.com/api/v1/catalog/webhooks \
              --header "Authorization: Bearer $LASSO_API_KEY" \
              --header "Content-Type: application/json" \
              --data '{
                "name": "ERP product sync",
                "url": "https://erp.example.com/webhooks/lasso",
                "events": ["product.created", "product.updated", "product.deleted"]
              }'
        - lang: typescript
          label: TypeScript
          source: |
            const response = await fetch("https://app.productlasso.com/api/v1/catalog/webhooks", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.LASSO_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                name: "ERP product sync",
                url: "https://erp.example.com/webhooks/lasso",
                events: ["product.created", "product.updated", "product.deleted"],
              }),
            });

            if (!response.ok) throw new Error(await response.text());
            const webhook = await response.json();
            // Store webhook.secret now. It is returned only once.
        - lang: python
          label: Python
          source: |
            import os
            import requests

            response = requests.post(
                "https://app.productlasso.com/api/v1/catalog/webhooks",
                headers={"Authorization": f"Bearer {os.environ['LASSO_API_KEY']}"},
                json={
                    "name": "ERP product sync",
                    "url": "https://erp.example.com/webhooks/lasso",
                    "events": ["product.created", "product.updated", "product.deleted"],
                },
                timeout=30,
            )
            response.raise_for_status()
            webhook = response.json()
            # Store webhook["secret"] now. It is returned only once.

  /catalog/webhooks/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: listCatalogWebhookDeliveries
      tags: [Catalog Webhooks]
      summary: List recent delivery attempts
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: Metadata-only delivery history
          content:
            application/json:
              schema:
                type: object
                required: [deliveries]
                properties:
                  deliveries:
                    type: array
                    items:
                      $ref: "#/components/schemas/CatalogWebhookDelivery"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateCatalogWebhook
      tags: [Catalog Webhooks]
      summary: Update a catalog webhook endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                url:
                  type: string
                  format: uri
                  maxLength: 2048
                events:
                  type: array
                  minItems: 1
                  uniqueItems: true
                  items:
                    $ref: "#/components/schemas/CatalogWebhookEvent"
                enabled:
                  type: boolean
                description:
                  type: [string, "null"]
                  maxLength: 500
      responses:
        "200":
          description: Updated endpoint without its signing secret
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogWebhookEndpoint"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    post:
      operationId: actOnCatalogWebhook
      tags: [Catalog Webhooks]
      summary: Send a test event or redeliver a failed attempt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [action]
                  properties:
                    action:
                      type: string
                      const: test
                - type: object
                  required: [action, delivery_record_id]
                  properties:
                    action:
                      type: string
                      const: redeliver
                    delivery_record_id:
                      type: string
                      format: uuid
                      description: Failed/non-2xx delivery-attempt `id`, not the stable logical `delivery_id`.
      responses:
        "200":
          description: Recorded test or redelivery attempt
          content:
            application/json:
              schema:
                type: object
                required: [delivery]
                properties:
                  delivery:
                    $ref: "#/components/schemas/CatalogWebhookDelivery"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
    delete:
      operationId: deleteCatalogWebhook
      tags: [Catalog Webhooks]
      summary: Delete a webhook endpoint and its delivery history
      responses:
        "204":
          description: Endpoint deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /attributes:
    get:
      operationId: listAttributes
      tags: [Attributes]
      summary: List canonical Attributes
      description: Returns active Attributes by default, ordered and searched by key. Set `include_archived=true` to include archived definitions.
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: search
          in: query
          schema:
            type: string
          description: Case-insensitive substring search on the Attribute key only.
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/AttributeType"
        - name: include_archived
          in: query
          schema:
            type: string
            enum: ["true"]
          description: Use the literal string `true` to include archived Attributes. Any other value keeps the active-only default.
      responses:
        "200":
          description: Paginated Attribute list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      operationId: createOrBulkUpsertAttributes
      tags: [Attributes]
      summary: Create or upsert Attributes
      description: |
        A single payload returns a bare Attribute: `201` for a new key and `200` when
        the existing same-type key is updated. `{ "attributes": [...] }` performs up
        to 500 atomic database writes and returns `{ "data": [...] }`. Attribute
        webhook effects are dispatched after the database commit and are best-effort.
        Attribute type and relation kind are immutable for an existing key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/AttributeInput"
                - $ref: "#/components/schemas/AttributeBulkInput"
            examples:
              legacyText:
                summary: Existing compatible payload; language and image_config are omitted
                value:
                  key: material
                  label: Material
                  type: text
              localizedText:
                value:
                  key: product_name_cs
                  label: Product name (Czech)
                  type: text
                  language: cs
              canonicalImage:
                value:
                  key: primary_image
                  label: Primary image
                  type: image
                  image_config:
                    format: webp
                    required_aspect_ratio: "1:1"
                    min_width: 1200
              bulk:
                value:
                  attributes:
                    - key: brand
                      label: Brand
                      type: text
                    - key: color
                      label: Color
                      type: enum
                      enum_values: [black, white]
      responses:
        "200":
          description: Existing single Attribute updated, or bulk upsert completed
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Attribute"
                  - $ref: "#/components/schemas/AttributeBulkResponse"
        "201":
          description: New single Attribute created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attribute"
        "409":
          description: Attribute key or unresolved image-policy conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                imageMigrationLocked:
                  value:
                    status_code: 409
                    error_type: conflict
                    message: Resolve this Attribute image policy on the Attributes page before changing it here.
                    request_id: 9de9ae63-7a89-40d0-a101-47e006ea8233
                    code: attribute_image_migration_locked
                    retryable: false
                    attribute_id: 11111111-1111-4111-8111-111111111111
                    attribute_key: primary_image
        "422":
          $ref: "#/components/responses/ValidationError"
        "503":
          description: Attribute rollout or migration inventory could not be read; no write occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                rolloutReadFailed:
                  value:
                    status_code: 503
                    error_type: service_unavailable
                    message: Attribute feature state is temporarily unavailable.
                    request_id: 9de9ae63-7a89-40d0-a101-47e006ea8233
                    code: attribute_rollout_read_failed
                    retryable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl --request POST \
              --url https://app.productlasso.com/api/v1/attributes \
              --header "Authorization: Bearer $LASSO_API_KEY" \
              --header "Content-Type: application/json" \
              --data '{
                "attributes": [
                  {"key": "brand", "label": "Brand", "type": "text"},
                  {"key": "color", "label": "Color", "type": "enum", "enum_values": ["black", "white"]}
                ]
              }'
        - lang: typescript
          label: TypeScript
          source: |
            const response = await fetch("https://app.productlasso.com/api/v1/attributes", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.LASSO_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                attributes: [
                  { key: "brand", label: "Brand", type: "text" },
                  { key: "color", label: "Color", type: "enum", enum_values: ["black", "white"] },
                ],
              }),
            });

            if (!response.ok) throw new Error(await response.text());
            const result = await response.json();
        - lang: python
          label: Python
          source: |
            import os
            import requests

            response = requests.post(
                "https://app.productlasso.com/api/v1/attributes",
                headers={"Authorization": f"Bearer {os.environ['LASSO_API_KEY']}"},
                json={
                    "attributes": [
                        {"key": "brand", "label": "Brand", "type": "text"},
                        {"key": "color", "label": "Color", "type": "enum", "enum_values": ["black", "white"]},
                    ]
                },
                timeout=30,
            )
            response.raise_for_status()
            result = response.json()

  /attributes/{key}:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
        description: Canonical Attribute key.

    get:
      operationId: getAttribute
      tags: [Attributes]
      summary: Get an Attribute by key
      description: Direct reads return active or archived Attributes.
      responses:
        "200":
          description: Attribute definition
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attribute"
              examples:
                archived:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    key: legacy_material
                    label: Legacy material
                    type: text
                    enum_values: null
                    tags_values: null
                    boolean_config: null
                    number_config: null
                    relation_config: null
                    description: null
                    validation: null
                    language: null
                    image_config: null
                    status: archived
                    archived_at: "2026-07-14T08:00:00.000Z"
                    is_reviewed: false
                    source_id: null
                    external_id: null
                    source_synced_at: null
                    created_at: "2026-07-01T00:00:00.000Z"
                    updated_at: "2026-07-14T08:00:00.000Z"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"

    put:
      operationId: updateAttribute
      tags: [Attributes]
      summary: Update canonical Attribute metadata
      description: Type is immutable and key changes use the dedicated rename operation. Relation kind is also immutable. Omitted fields remain unchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttributeUpdateInput"
            example:
              label: Product name
              language: en
              expected_updated_at: "2026-07-14T10:00:00.000Z"
      responses:
        "200":
          description: Updated Attribute
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attribute"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Stale-write or unresolved image-policy conflict; no write occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                staleWrite:
                  value:
                    status_code: 409
                    error_type: conflict
                    message: Attribute was modified; refetch it before retrying
                    request_id: 9de9ae63-7a89-40d0-a101-47e006ea8233
                    code: stale_write
                    retryable: false
                    current_updated_at: "2026-07-14T10:30:00.000Z"
                imageMigrationLocked:
                  value:
                    status_code: 409
                    error_type: conflict
                    message: Resolve this Attribute image policy on the Attributes page before changing it here.
                    request_id: 9de9ae63-7a89-40d0-a101-47e006ea8233
                    code: attribute_image_migration_locked
                    retryable: false
        "422":
          $ref: "#/components/responses/ValidationError"
        "503":
          description: Attribute rollout or migration inventory could not be read; no write occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                rolloutReadFailed:
                  value:
                    status_code: 503
                    error_type: service_unavailable
                    message: Attribute feature state is temporarily unavailable.
                    request_id: 9de9ae63-7a89-40d0-a101-47e006ea8233
                    code: attribute_rollout_read_failed
                    retryable: true
        "401":
          $ref: "#/components/responses/Unauthorized"

    delete:
      operationId: deleteAttribute
      tags: [Attributes]
      summary: Permanently delete an unused Attribute
      description: |
        Permanently deletes the Attribute only when it has no company dependencies.
        No dependent schemas, tables, Catalog data, mappings, or feeds are cascaded or removed.
        Use archive in the Dashboard when reversible removal is preferred.
      responses:
        "204":
          description: Attribute permanently deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Attribute is still in use and was not deleted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Error"
                  - type: object
                    required: [code, key, total_count, dependencies]
                    properties:
                      code:
                        type: string
                        const: attribute_in_use
                      key:
                        type: string
                      total_count:
                        type: integer
                        minimum: 1
                      dependencies:
                        type: object
                        description: Company-wide aggregate dependency counts; private resource names and IDs are never returned.
                        additionalProperties:
                          type: object
                          required: [count]
                          properties:
                            count:
                              type: integer
                              minimum: 0
              example:
                status_code: 409
                error_type: conflict
                message: Attribute is still in use
                request_id: 9de9ae63-7a89-40d0-a101-47e006ea8233
                code: attribute_in_use
                key: material
                total_count: 3
                dependencies:
                  schemas:
                    count: 1
                  jobs:
                    count: 2
        "401":
          $ref: "#/components/responses/Unauthorized"

  /attributes/{key}/rename:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
        description: Existing canonical Attribute key.
    post:
      operationId: renameAttribute
      tags: [Attributes]
      summary: Rename an Attribute key and dependent data
      description: |
        Atomically renames the canonical key and all supported dependent data. A successful
        request returns `200`; a blocked, conflicting, busy, or stale rename returns `409`
        without applying a partial migration. You can pass `attribute_id` when retrying an
        uncertain request so the handler can resolve the same Attribute after its key changes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [new_key]
              properties:
                new_key:
                  type: string
                  pattern: "^[a-zA-Z0-9][a-zA-Z0-9_/]*$"
                attribute_id:
                  type: string
                  format: uuid
                  description: Stable Attribute ID for retrying an uncertain rename outcome after the key may have changed.
                expected_impact_revision:
                  type: string
                  description: Optional optimistic-concurrency token. Most API clients should omit it; an outdated value returns `409 stale_preview`.
            example:
              new_key: material_name
      responses:
        "200":
          description: Atomic rename and all dependent migrations completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeRenameResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Schemas ──────────────────────────────────────────────
  /schemas:
    get:
      operationId: listSchemas
      tags: [Schemas]
      summary: List active schemas
      description: Archived schemas are recoverable in the Dashboard but are intentionally excluded from this active public list.
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of schemas
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SchemaListItem"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      operationId: createSchema
      tags: [Schemas]
      summary: Create a new schema
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, columns]
              properties:
                name:
                  type: string
                description:
                  type: string
                is_default:
                  type: boolean
                  default: false
                columns:
                  type: array
                  items:
                    $ref: "#/components/schemas/SchemaColumnInput"
                  minItems: 1
            example:
              name: Supplier products
              description: Core supplier feed fields
              columns:
                - attribute_id: 11111111-1111-4111-8111-111111111111
                  kind: attribute
                  key: product_name
                  label: Product name
                  type: text
                - kind: helper
                  key: source_row
                  label: Source row
                  type: text
      responses:
        "201":
          description: Created schema
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schema"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: A supplied schema column attribute_id does not belong to this company or no longer exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                status_code: 404
                error_type: not_found
                message: Attribute not found
                request_id: 9de9ae63-7a89-40d0-a101-47e006ea8233
                code: attribute_not_found
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl --request POST \
              --url https://app.productlasso.com/api/v1/schemas \
              --header "Authorization: Bearer $LASSO_API_KEY" \
              --header "Content-Type: application/json" \
              --data '{
                "name": "Supplier products",
                "columns": [
                  {"attribute_id": "11111111-1111-4111-8111-111111111111", "kind": "attribute", "key": "product_name", "label": "Product name", "type": "text"},
                  {"kind": "helper", "key": "source_row", "label": "Source row", "type": "text"}
                ]
              }'
        - lang: typescript
          label: TypeScript
          source: |
            const response = await fetch("https://app.productlasso.com/api/v1/schemas", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.LASSO_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                name: "Supplier products",
                columns: [
                  { attribute_id: "11111111-1111-4111-8111-111111111111", kind: "attribute", key: "product_name", label: "Product name", type: "text" },
                  { kind: "helper", key: "source_row", label: "Source row", type: "text" },
                ],
              }),
            });

            if (!response.ok) throw new Error(await response.text());
            const schema = await response.json();
        - lang: python
          label: Python
          source: |
            import os
            import requests

            response = requests.post(
                "https://app.productlasso.com/api/v1/schemas",
                headers={"Authorization": f"Bearer {os.environ['LASSO_API_KEY']}"},
                json={
                    "name": "Supplier products",
                    "columns": [
                        {"attribute_id": "11111111-1111-4111-8111-111111111111", "kind": "attribute", "key": "product_name", "label": "Product name", "type": "text"},
                        {"kind": "helper", "key": "source_row", "label": "Source row", "type": "text"},
                    ],
                },
                timeout=30,
            )
            response.raise_for_status()
            schema = response.json()

  /schemas/{schema_id}:
    parameters:
      - name: schema_id
        in: path
        required: true
        schema:
          type: string

    get:
      operationId: getSchema
      tags: [Schemas]
      summary: Get schema details
[...]
